<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="paper-plane.png">
    <title>Triptiz</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <style>

        body {
            padding-top: 3.5rem;
        }

        #working-logo {
            font-size: 2.5em;
            color: #ededff;
            text-shadow: 0 0 10px #224499;
            font-weight: bold;
            font-family: serif;
            font-style: italic;
        }

        .bg-dark {
            background-color: #6699ff;
        }

        img {
            height: 1.25em;
        }
    </style>
    {{trdmap.js}}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" id="working-logo" href="#">TripTipz <img src="{{url_for('static', filename='paper-plane.png')}}"> </a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/plan">Plan a Trip</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if session.logged_in %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container" style="margin: 35px 30%;" >
        <div class="row"><h2 style="display:block;"> Melhor caminho para você!</h2></div>
        <!-- Insere o painel de entradas do usuário -->
        <div class="row"><h4 style="display:block;"> O marcador azul é seu ponto de saída</h4></div>
        <div class="row"><h5 style="display:block;"> O ciclo completo tem {{dist}} km</h5></div>
        <div class="row"><h5 style="display:block;"> Tenha um excelente passeio, {{nome}}</h5></div>
        <div class="container" style="margin: 5px 100px; ">
            {{trdmap.html}}
            </div>
        </div>
</body>
</html>
