{% extends 'form-layout.html' %}
{% block form %}
<div class="text-center mb-4">
  <img class="mb-4" src="paper-plane.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">New User Registration</h1>
  <p>Enter your information and then you're ready to travel away!</p>
</div>

<div class="form-label-group">
  <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
  <label for="inputName">Name</label>
</div>

<div class="form-label-group">
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
  <label for="inputEmail">Email address</label>
</div>

<div class="form-label-group">
  <input type="text" id="inputUsername" class="form-control" placeholder="Username" required>
  <label for="inputUsername">Username</label>
</div>

<div class="form-label-group">
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <label for="inputPassword">Password</label>
</div>

<div class="form-label-group">
  <input type="password" id="inputPasswordAgain" class="form-control" placeholder="Confirm your Password" required>
  <label for="inputPasswordAgain">Confirm your Password</label>
</div>

<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
{% endblock %}
