{% extends 'form-layout.html' %}
{% block form %}
{% from "_formhelpers.html" import render_field %}

<div class="text-center mb-4">
  <img class="mb-4" src="paper-plane.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">New User Registration</h1>
  <p>Enter your information and then you're ready to travel away!</p>
</div>


<div class="form-label-group">
  {{render_field(form.name, class_="form-control")}}
</div>

<div class="form-label-group">
  {{render_field(form.email, class_="form-control")}}
</div>

<div class="form-label-group">
  {{render_field(form.username, class_="form-control")}}
</div>

<div class="form-label-group">
  {{render_field(form.password, class_="form-control")}}
</div>

<div class="form-label-group">
  {{render_field(form.confirm, class_="form-control")}}
</div>

<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
{% endblock %}
